:root {
  font-family: 'Roboto Flex', 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
  background: hsl(223 20% 94%);
}

#root {
  min-height: 100dvh;
}
